button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__green;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

button#searchsubmit {
  border-radius: 0 5px 5px 0;
  min-width: 50px;
  font-size: 16px;
  cursor: pointer;
}

.wp-block-button {
  position: relative;
  width: 100%;
  text-align: center;
}

a.wp-block-button__link {
  text-align: center;
  background-color: #61ce70;
  border-color: #61ce70;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
