a {
  color: $color__link;

  &:visited {
  }

  &:hover,
  &:focus,
  &:active {
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.navigation.pagination {
  text-align: center;
  padding: 15px 0;
}

.nav-links a {
  text-decoration: none;
  padding: 0 5px;
}
