.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}
main {
  margin-top: 97px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
